header
{@media only screen and (max-width: 768px) 
{[class*="col-"] 
{
width: 100%;
}
}
}


p
{@media only screen and (max-width:980px )
    
}










body
{
    background-color: darkred;
}















@media only screen and (max-width: 640px) {
    body {
      background-color: lightblue;
    }
  }
