body {
  margin: 0;
  height: 100vh;
  width: 100vw;
}
.background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-image: url("https://scontent.fric1-2.fna.fbcdn.net/v/t1.0-9/983721_667300123350220_348232799270473791_n.jpg?_nc_cat=109&_nc_oc=AQn9PlAbSk17arYDY_w4_FonTkSTWUepzeXC2QBU4jSxR2EjvUxNsi1C53Z7BJVpcyxbiGs8g02bRYAy_zkIGbRt&_nc_ht=scontent.fric1-2.fna&oh=7ed9c91739afda12683dbcc71783ca33&oe=5E59AECF");
  background-size: cover;
}