body {
  margin: 0;
  height: 100vh;
  width: 100vw;
}
.background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-image: url("https://scontent.fric1-2.fna.fbcdn.net/v/t1.0-9/523617_447683611978540_2068127791_n.jpg?_nc_cat=103&_nc_oc=AQmGBuEi_d2cgQJ-B7hHTabNR6bNPIxqRwzzQz0fgn5L0xAlt-8-SLN4rYlcsek0URDPOQku8v-lChEJN2SOPM6C&_nc_ht=scontent.fric1-2.fna&oh=1693290f8832a978a6fb56357fa28da9&oe=5E25BBEB");
  background-size: cover;
}